@media screen and (max-width: 860px) {
/****NAVIGATIE****/
header > nav {
    height: 75px;
}

#desktop{
  display: none;
}

#menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 0px;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    width: 10%;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff0000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #272727;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu a
{
  color: white;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.boog-info {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17%;
}

#info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

#info article {
    width: 90%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
}

#info article > h1 {
    color: #ff0000;
    letter-spacing: 2;
    font-size: 17pt;
    font-family: brandon-bold;
    margin-top: 15%;
}

#info article span{
    color: #ff0000;
    font-size: 20pt;
    font-family: brandon-regular;
}

#info article > p {
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 12pt;
    color: #424242;
}

#info img{
  width: 60%;
}

#info button {
    top: 40px;
    letter-spacing: 2px;
    text-align: left;
    border-radius: 50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 10;
    padding: 10px 25px;
    font-size: 12pt;
    color: #ffffff;
    background-color: #ef0404;
    border: none;
    cursor: pointer;
}

#info button::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #a00000;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  }

#info button::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #d20101;
    position: absolute;
     -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
}

#info button:hover::before, #info button:hover::before{
  opacity:1;
  width: 116%;
}

#info button:hover::after, #info button:hover::after{
  opacity:1;
  width: 120%;
}
/************/


/* Design */
.boog-design {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 55%;
}

#design {
    width: 100%;
    padding-bottom: 40%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    height: 80vh;
}

#design article {
    width: 90%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
}

#design article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 17pt;
    font-family: brandon-bold;
    margin-top: 15%;
}

#design article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 12pt;
    color: #424242;
}

#design img{
  width: 60%;
}
/************/

/* Front-end */
.boog-front {
    background-image: url(../images/boog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 330px;
}

#front {
    width: 100%;
    padding-bottom: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#front article {
    width: 90%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
}

#front article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 17pt;
    font-family: brandon-bold;
    margin-top: 15%;
}

#front article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 12pt;
    color: #424242;
}

#front img{
  width: 60%;
}
/************/

/* Back-end */
.boog-back {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.boog-back-end {
    background-image: url(../images/boog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 430px;
}

#back {
    width: 100%;
    padding-bottom: 40%;
    padding-top: 40%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
}

#back article {
    width: 90%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
}

#back article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 17pt;
    font-family: brandon-bold;
    margin-top: 15%;
}

#back article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 12pt;
    color: #424242;
}

#back img{
  width: 60%;
}
/************/

/* Want Contact? */



/************/

/* Works */
#works {
    width: 100%;
    padding-bottom: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 30%;
}

#works > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 30pt;
    font-family: brandon-bold;
    padding-bottom: 5%;
}

#works article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#works img{
    width: 100%;
    /* 2 = 50% */
    /* 3 = 33.33%*/
}

.flex{
    display: flex;
    flex-direction: row;
}
/************/


/* Footer */
footer{
  background-color: #424242;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  -webkit-box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  padding-bottom: 0;
  margin-bottom: 0;
}

footer p{
  margin-left: 144px;
  font-size: 8pt;
  margin-bottom: 5px;
  margin-top: 5px;
}
/************/
