/*MEDIAQUERRYS*/
/*iPad 768px */
@media screen and (min-width: 768px) {
.boog-header {
    background-position-y: 360px;
}

.container2 {
    top: 120px;
    right: -30px;
}

header h1 {
    font-size: 35pt;
}

header h2 {
    top: 51%;
    font-size: 20pt;
}

#info {
    padding-top: 20%;
}

#info article > h1 {
    font-size: 22pt;
}

#info article > p {
    font-size: 18pt;
}

#info button {
    font-size: 18pt;
}

#design {
    padding-top: 10%;
}

#design article > h1 {
    font-size: 22pt;
}

#design article > p {
    font-size: 18pt;
}

.boog-front {
    background-position-y: 510px;
}

#front article > h1 {
    font-size: 22pt;
}

#front article > p {
    font-size: 18pt;
}

.boog-back-end {
    background-position-y: 580px;
}

#back{
    padding-top: 23%;
}

#back article > h1 {
    font-size: 22pt;
}

#back article > p {
    font-size: 18pt;
}

#works {
    padding-top: 0%;
}

#works > h1 {
    font-size: 25pt;
}

#contact {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: brandon-light;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
}

#contact h1 {
    font-size: 25pt;
}

}
/*********************************************/

/*Ertussen*/
@media screen and (min-width: 769px){
.boog-header {
    background-position-y: 290px;
}

header h1 {
    font-size: 27pt;
}

#info {
    padding-top: 30%;
}

#design {
    padding-top: 20%;
}

#front {
    padding-top: 0%;
}

#back {
    padding-top: 30%;
}

#info img {
width: 50%;
}

#design img {
width: 50%;
}

#front img {
width: 50%;
}

#back img {
width: 30%;
}

}
/*********************************************/

/*Ertussen*/
@media screen and (min-width: 925px){
.boog-header {
    background-position-y: 200px;
}

.boog-design {
    padding-bottom: 32%;
}

#menu {
    margin: -100px 0 0 -70px;
}

.container2 {
    top: 31px;
    right: -30px;
}

.particle-wrap {
    width: 500px;
    height: 400px;
}

#info img {
width: 40%;
}

#design img {
width: 40%;
}

#front img {
width: 40%;
}

#back img {
width: 30%;
}

#info {
    padding-top: 10%;
}

#design {
    padding-top: 10%;
    padding-bottom: 27%;
}

#front {
    padding-top: 0%;
    padding-bottom: 30%;
}

#back {
    padding-top: 10%;
    padding-bottom: 20%;
}

#works {
    padding-bottom: 30%;
}

}
/*********************************************/

/*Macbook*/
@media screen and (min-width: 1400px) {
  /****************HEADER******************/
#desktop {
    display: block;
}

.boog-header {
    background-position-y: 190px;
}

.container{
    width: 900px;
    margin: auto;
}

nav{
  height: 80px;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.nav > ul > li > a {
    color: #444444;
    font-family: brandon-regular;
}

.nav ul li {
    float: left;
    font-size: 23px;
    margin-left: 0px;
    width: auto;
}

.nav > ul {
    float: right;
    padding-top: 3%;
}

.a-sub-nav{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

}

.nav {
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    background:white;
    left:0;
    top:0;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
    background-color: white;
}

.nav > img {
    width:12%;
    padding-top: 1%;
    opacity: 0.9;
}

header h1{
    top: 50%;
    font-size: 30pt;
}

header h2{
    top: 65%;
    font-size: 20pt;
}

.container2 {
    top: 24px;
    right: -72px;
}

#menuToggle{
  display: none;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FF210E;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 0.8s;
  padding: 10px 15px;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 0.5s forwards;
  -webkit-animation: fill 0.5s forwards;
  -moz-animation: fill 0.5s forwards;
  opacity: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #FF210E;
  }
}

/* Hi, I'm Mike */
.boog-info {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17%;
}

#info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
    padding-bottom: 33% !important;
    padding-top: 20% !important;
}

#info article {
    width: 45%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
    padding-left: 5%;

}

#info article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 20pt;
    font-family: brandon-bold;
}

#info article span{
    color: #ff0000;
    font-size: 20pt;
    font-family: brandon-regular;
}

#info article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#info img{
  padding-right: 10%;
  width: 40% !important;
}

#info button{
    top: 40px;
    letter-spacing: 2px;
    text-align: center;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:10;
    padding: 10px 45px;
    font-size: 20px;
    color: #ffffff;
    background-color: #ef0404;
    border: none;
    cursor: pointer;
}

#info button::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #a00000;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  }

#info button::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #d20101;
    position: absolute;
     -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
}

#info button:hover::before, #info button:hover::before{
  opacity:1;
  width: 116%;
}

#info button:hover::after, #info button:hover::after{
  opacity:1;
  width: 120%;
}
/************/


/* Design */
.boog-design {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 17%;
}

#design {
    width: 100%;
    padding-bottom: 35%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
    padding-top: 12%;
}

#design article {
    width: 45%;
    font-family: brandon-light;
    position: relative;
    text-align: right;
    padding-right: 5%;
}

#design article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 25pt;
    font-family: brandon-bold;
}

#design article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#design img{
  padding-left: 10%;
  width: 40% !important;
}
/************/

/* Front-end */
.boog-front {
    background-position-y: 360px;
}

#front {
    width: 100%;
    padding-bottom: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#front article {
    width: 45%;
    font-family: brandon-light;
    position: relative;
    text-align: left;
    padding-left: 5%;
}

#front article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 25pt;
    font-family: brandon-bold;
}

#front article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#front img{
  padding-right: 10%;
  width: 40% !important;
}
/************/

/* Back-end */
.boog-back {
    background-image: url(../images/boog-front.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.boog-back-end {
    background-image: url(../images/boog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 430px;
}

#back {
    width: 100%;
    padding-bottom: 20%;
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#back article {
    width: 45%;
    font-family: brandon-light;
    position: relative;
    text-align: right;
    padding-right: 5%;
}

#back article > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 25pt;
    font-family: brandon-bold;
}

#back article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#back img{
  padding-left: 10%;
  width: 40% !important;
}
/************/

/* Want Contact? */



/************/

/* Works */
#works {
    width: 100%;
    padding-bottom: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
}

#works > h1{
    color: #ff0000;
    letter-spacing: 2;
    font-size: 30pt;
    font-family: brandon-bold;
    padding-bottom: 5%;
}

#works article > p{
    letter-spacing: 1px;
    line-height: 2.2;
    font-size: 17pt;
    color: #424242;
}

#works img{
    width: 100%;
    /* 2 = 50% */
    /* 3 = 33.33%*/
}

.flex{
    display: flex;
    flex-direction: row;
}
/************/


/* Footer */
footer{
  background-color: #424242;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  -webkit-box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px -9px 30px 0px rgba(0,0,0,0.1);
  padding-bottom: 0;
  margin-bottom: 0;
}

footer p {
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 3%;
}
/************/

/* Particles */
.container2 {
    position: absolute;
    width: 100%;
    min-height: 50vh;
    transform-style: preserve-3d;
    top: 104px;
    right: -72px;
    display: block;
}

.particle-wrap {
    margin: 0 auto;
    width: 900px;
    height: 410px;
    transform-style: preserve-3d;
    transform-origin: center center;
    perspective: 200px;
    overflow: hidden;
}
}
/* Desktop */
@media screen and (min-width: 1800px) {
.boog-header {
    background-position-y: 310px !important;
}

header h1 {
    top: 41% !important;
    font-size: 30pt !important;
}

header h2 {
    top: 50% !important;
    font-size: 20pt !important;
}

.container2 {
    top: 154px !important;
    right: -72px !important;
}

.boog-back-end {
    background-position-y: 360px;
}

#back {
    padding-bottom: 30%;
    padding-top: 5%;
}

#works {
    padding-bottom: 40%;
    padding-top: 10%;
}
}

/*********/
