@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

.container2 {
    position: absolute;
    width: 100%;
    min-height: 50vh;
    transform-style: preserve-3d;
    top: 70px;
    right: 0px;
}

.particle-wrap {
    margin: 0 auto;
    width: 370px;
    height: 400px;
    transform-style: preserve-3d;
    transform-origin: center center;
    perspective: 200px;
    overflow: hidden;
}

.particle {
  position: absolute;
  background: black;
  opacity: .7;
  border-radius: 50%;
  animation: move 8s infinite;

}

.particle:nth-child(1) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(758px, 93px, 112px);
          transform: translate3d(758px, 93px, 112px);
  background: #ff200f;
}

.particle:nth-child(2) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(738px, 544px, 874px);
          transform: translate3d(738px, 544px, 874px);
  background: #ff200f;
}

.particle:nth-child(3) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(963px, 1000px, 1307px);
          transform: translate3d(963px, 1000px, 1307px);
  background: #ff200f;
}

.particle:nth-child(4) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(946px, 727px, 1417px);
          transform: translate3d(946px, 727px, 1417px);
  background: #ff200f;
}

.particle:nth-child(5) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(327px, 929px, 1791px);
          transform: translate3d(327px, 929px, 1791px);
  background: #ff200f;
}

.particle:nth-child(6) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(809px, 12px, 963px);
          transform: translate3d(809px, 12px, 963px);
  background: #ff200f;
}

.particle:nth-child(7) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(318px, 749px, 53px);
          transform: translate3d(318px, 749px, 53px);
  background: #ff200f;
}

.particle:nth-child(8) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(853px, 591px, 324px);
          transform: translate3d(853px, 591px, 324px);
  background: #ff200f;
}

.particle:nth-child(9) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(577px, 668px, 800px);
          transform: translate3d(577px, 668px, 800px);
  background: #ff200f;
}

.particle:nth-child(10) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(540px, 257px, 421px);
          transform: translate3d(540px, 257px, 421px);
  background: #ff200f;
}

.particle:nth-child(11) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(83px, 752px, 203px);
          transform: translate3d(83px, 752px, 203px);
  background: #ff200f;
}

.particle:nth-child(12) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(462px, 977px, 1576px);
          transform: translate3d(462px, 977px, 1576px);
  background: #ff200f;
}

.particle:nth-child(13) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(654px, 150px, 1576px);
          transform: translate3d(654px, 150px, 1576px);
  background: #ff200f;
}

.particle:nth-child(14) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(777px, 724px, 1789px);
          transform: translate3d(777px, 724px, 1789px);
  background: #ff200f;
}

.particle:nth-child(15) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(970px, 653px, 1970px);
          transform: translate3d(970px, 653px, 1970px);
  background: #ff200f;
}

.particle:nth-child(16) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(378px, 335px, 951px);
          transform: translate3d(378px, 335px, 951px);
  background: #ff200f;
}

.particle:nth-child(17) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(893px, 649px, 550px);
          transform: translate3d(893px, 649px, 550px);
  background: #ff200f;
}

.particle:nth-child(18) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(866px, 942px, 199px);
          transform: translate3d(866px, 942px, 199px);
  background: #ff200f;
}

.particle:nth-child(19) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(215px, 791px, 1832px);
          transform: translate3d(215px, 791px, 1832px);
  background: #ff200f;
}

.particle:nth-child(20) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(573px, 6px, 1792px);
          transform: translate3d(573px, 6px, 1792px);
  background: #ff200f;
}

.particle:nth-child(21) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(838px, 713px, 729px);
          transform: translate3d(838px, 713px, 729px);
  background: #ff200f;
}

.particle:nth-child(22) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(258px, 97px, 1394px);
          transform: translate3d(258px, 97px, 1394px);
  background: #ff200f;
}

.particle:nth-child(23) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(417px, 187px, 729px);
          transform: translate3d(417px, 187px, 729px);
  background: #ff200f;
}

.particle:nth-child(24) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(181px, 496px, 940px);
          transform: translate3d(181px, 496px, 940px);
  background: #ff200f;
}

.particle:nth-child(25) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(307px, 102px, 1160px);
          transform: translate3d(307px, 102px, 1160px);
  background: #ff200f;
}

.particle:nth-child(26) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(16px, 272px, 1679px);
          transform: translate3d(16px, 272px, 1679px);
  background: #ff200f;
}

.particle:nth-child(27) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(184px, 66px, 753px);
          transform: translate3d(184px, 66px, 753px);
  background: #ff200f;
}

.particle:nth-child(28) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(520px, 134px, 839px);
          transform: translate3d(520px, 134px, 839px);
  background: #ff200f;
}

.particle:nth-child(29) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(611px, 532px, 809px);
          transform: translate3d(611px, 532px, 809px);
  background: #ff200f;
}

.particle:nth-child(30) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(930px, 851px, 1067px);
          transform: translate3d(930px, 851px, 1067px);
  background: #ff200f;
}

.particle:nth-child(31) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  -webkit-transform: translate3d(911px, 754px, 868px);
          transform: translate3d(911px, 754px, 868px);
  background: #ff200f;
}

.particle:nth-child(32) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  -webkit-transform: translate3d(900px, 164px, 1504px);
          transform: translate3d(900px, 164px, 1504px);
  background: #ff200f;
}

.particle:nth-child(33) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  -webkit-transform: translate3d(13px, 589px, 1261px);
          transform: translate3d(13px, 589px, 1261px);
  background: #ff200f;
}

.particle:nth-child(34) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  -webkit-transform: translate3d(589px, 687px, 834px);
          transform: translate3d(589px, 687px, 834px);
  background: #ff200f;
}

.particle:nth-child(35) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  -webkit-transform: translate3d(355px, 759px, 1294px);
          transform: translate3d(355px, 759px, 1294px);
  background: #ff200f;
}

.particle:nth-child(36) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  -webkit-transform: translate3d(536px, 684px, 1379px);
          transform: translate3d(536px, 684px, 1379px);
  background: #ff200f;
}

.particle:nth-child(37) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  -webkit-transform: translate3d(402px, 73px, 447px);
          transform: translate3d(402px, 73px, 447px);
  background: #ff200f;
}

.particle:nth-child(38) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  -webkit-transform: translate3d(308px, 903px, 1090px);
          transform: translate3d(308px, 903px, 1090px);
  background: #ff200f;
}

.particle:nth-child(39) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  -webkit-transform: translate3d(374px, 646px, 849px);
          transform: translate3d(374px, 646px, 849px);
  background: #ff200f;
}

.particle:nth-child(40) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  -webkit-transform: translate3d(782px, 403px, 155px);
          transform: translate3d(782px, 403px, 155px);
  background: #ff200f;
}

.particle:nth-child(41) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  -webkit-transform: translate3d(537px, 334px, 1655px);
          transform: translate3d(537px, 334px, 1655px);
  background: #ff200f;
}

.particle:nth-child(42) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  -webkit-transform: translate3d(208px, 717px, 1292px);
          transform: translate3d(208px, 717px, 1292px);
  background: #ff200f;
}

.particle:nth-child(43) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  -webkit-transform: translate3d(996px, 168px, 1495px);
          transform: translate3d(996px, 168px, 1495px);
  background: #ff200f;
}

.particle:nth-child(44) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  -webkit-transform: translate3d(604px, 610px, 1572px);
          transform: translate3d(604px, 610px, 1572px);
  background: #ff200f;
}

.particle:nth-child(45) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  -webkit-transform: translate3d(365px, 752px, 1547px);
          transform: translate3d(365px, 752px, 1547px);
  background: #ff200f;
}

.particle:nth-child(46) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  -webkit-transform: translate3d(308px, 168px, 463px);
          transform: translate3d(308px, 168px, 463px);
  background: #ff200f;
}

.particle:nth-child(47) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  -webkit-transform: translate3d(387px, 965px, 1987px);
          transform: translate3d(387px, 965px, 1987px);
  background: #ff200f;
}

.particle:nth-child(48) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  -webkit-transform: translate3d(744px, 224px, 781px);
          transform: translate3d(744px, 224px, 781px);
  background: #ff200f;
}

.particle:nth-child(49) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  -webkit-transform: translate3d(249px, 797px, 1444px);
          transform: translate3d(249px, 797px, 1444px);
  background: #ff200f;
}

.particle:nth-child(50) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  -webkit-transform: translate3d(37px, 483px, 174px);
          transform: translate3d(37px, 483px, 174px);
  background: #ff200f;
}

.particle:nth-child(51) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  -webkit-transform: translate3d(841px, 537px, 530px);
          transform: translate3d(841px, 537px, 530px);
  background: #ff200f;
}

.particle:nth-child(52) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  -webkit-transform: translate3d(640px, 765px, 448px);
          transform: translate3d(640px, 765px, 448px);
  background: #ff200f;
}

.particle:nth-child(53) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
  -webkit-transform: translate3d(580px, 315px, 178px);
          transform: translate3d(580px, 315px, 178px);
  background: #ff200f;
}

.particle:nth-child(54) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  -webkit-transform: translate3d(186px, 639px, 1315px);
          transform: translate3d(186px, 639px, 1315px);
  background: #ff200f;
}

.particle:nth-child(55) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  -webkit-transform: translate3d(88px, 357px, 1598px);
          transform: translate3d(88px, 357px, 1598px);
  background: #ff200f;
}

.particle:nth-child(56) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  -webkit-transform: translate3d(48px, 601px, 1731px);
          transform: translate3d(48px, 601px, 1731px);
  background: #ff200f;
}

.particle:nth-child(57) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -11.4s;
          animation-delay: -11.4s;
  -webkit-transform: translate3d(187px, 806px, 792px);
          transform: translate3d(187px, 806px, 792px);
  background: #ff200f;
}

.particle:nth-child(58) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  -webkit-transform: translate3d(868px, 497px, 103px);
          transform: translate3d(868px, 497px, 103px);
  background: #ff200f;
}

.particle:nth-child(59) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
  -webkit-transform: translate3d(631px, 117px, 1952px);
          transform: translate3d(631px, 117px, 1952px);
  background: #ff200f;
}

.particle:nth-child(60) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  -webkit-transform: translate3d(912px, 597px, 1688px);
          transform: translate3d(912px, 597px, 1688px);
  background: #ff200f;
}

.particle:nth-child(61) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  -webkit-transform: translate3d(729px, 308px, 921px);
          transform: translate3d(729px, 308px, 921px);
  background: #ff200f;
}

.particle:nth-child(62) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  -webkit-transform: translate3d(852px, 543px, 607px);
          transform: translate3d(852px, 543px, 607px);
  background: #ff200f;
}

.particle:nth-child(63) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -12.6s;
          animation-delay: -12.6s;
  -webkit-transform: translate3d(269px, 672px, 1653px);
          transform: translate3d(269px, 672px, 1653px);
  background: #ff200f;
}

.particle:nth-child(64) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  -webkit-transform: translate3d(888px, 732px, 1779px);
          transform: translate3d(888px, 732px, 1779px);
  background: #ff200f;
}

.particle:nth-child(65) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  -webkit-transform: translate3d(235px, 462px, 296px);
          transform: translate3d(235px, 462px, 296px);
  background: #ff200f;
}

.particle:nth-child(66) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  -webkit-transform: translate3d(518px, 655px, 164px);
          transform: translate3d(518px, 655px, 164px);
  background: #ff200f;
}

.particle:nth-child(67) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  -webkit-transform: translate3d(633px, 654px, 209px);
          transform: translate3d(633px, 654px, 209px);
  background: #ff200f;
}

.particle:nth-child(68) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  -webkit-transform: translate3d(356px, 666px, 1613px);
          transform: translate3d(356px, 666px, 1613px);
  background: #ff200f;
}

.particle:nth-child(69) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -13.8s;
          animation-delay: -13.8s;
  -webkit-transform: translate3d(75px, 735px, 1348px);
          transform: translate3d(75px, 735px, 1348px);
  background: #ff200f;
}

.particle:nth-child(70) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  -webkit-transform: translate3d(60px, 244px, 1471px);
          transform: translate3d(60px, 244px, 1471px);
  background: #ff200f;
}

.particle:nth-child(71) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  -webkit-transform: translate3d(859px, 305px, 367px);
          transform: translate3d(859px, 305px, 367px);
  background: #ff200f;
}

.particle:nth-child(72) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  -webkit-transform: translate3d(834px, 64px, 1146px);
          transform: translate3d(834px, 64px, 1146px);
  background: #ff200f;
}

.particle:nth-child(73) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -14.6s;
          animation-delay: -14.6s;
  -webkit-transform: translate3d(778px, 947px, 682px);
          transform: translate3d(778px, 947px, 682px);
  background: #ff200f;
}

.particle:nth-child(74) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  -webkit-transform: translate3d(76px, 298px, 174px);
          transform: translate3d(76px, 298px, 174px);
  background: #ff200f;
}

.particle:nth-child(75) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  -webkit-transform: translate3d(972px, 811px, 1605px);
          transform: translate3d(972px, 811px, 1605px);
  background: #ff200f;
}

.particle:nth-child(76) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  -webkit-transform: translate3d(731px, 248px, 124px);
          transform: translate3d(731px, 248px, 124px);
  background: #ff200f;
}

.particle:nth-child(77) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -15.4s;
          animation-delay: -15.4s;
  -webkit-transform: translate3d(121px, 342px, 764px);
          transform: translate3d(121px, 342px, 764px);
  background: #ff200f;
}

.particle:nth-child(78) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  -webkit-transform: translate3d(485px, 971px, 354px);
          transform: translate3d(485px, 971px, 354px);
  background: #ff200f;
}

.particle:nth-child(79) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -15.8s;
          animation-delay: -15.8s;
  -webkit-transform: translate3d(285px, 767px, 1433px);
          transform: translate3d(285px, 767px, 1433px);
  background: #ff200f;
}

.particle:nth-child(80) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  -webkit-transform: translate3d(912px, 220px, 983px);
          transform: translate3d(912px, 220px, 983px);
  background: #ff200f;
}

.particle:nth-child(81) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -16.2s;
          animation-delay: -16.2s;
  -webkit-transform: translate3d(210px, 367px, 628px);
          transform: translate3d(210px, 367px, 628px);
  background: #ff200f;
}

.particle:nth-child(82) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  -webkit-transform: translate3d(575px, 529px, 451px);
          transform: translate3d(575px, 529px, 451px);
  background: #ff200f;
}

.particle:nth-child(83) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -16.6s;
          animation-delay: -16.6s;
  -webkit-transform: translate3d(32px, 359px, 107px);
          transform: translate3d(32px, 359px, 107px);
  background: #ff200f;
}

.particle:nth-child(84) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  -webkit-transform: translate3d(283px, 407px, 270px);
          transform: translate3d(283px, 407px, 270px);
  background: #ff200f;
}

.particle:nth-child(85) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  -webkit-transform: translate3d(777px, 760px, 927px);
          transform: translate3d(777px, 760px, 927px);
  background: #ff200f;
}

.particle:nth-child(86) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  -webkit-transform: translate3d(819px, 350px, 1249px);
          transform: translate3d(819px, 350px, 1249px);
  background: #ff200f;
}

.particle:nth-child(87) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -17.4s;
          animation-delay: -17.4s;
  -webkit-transform: translate3d(528px, 118px, 1856px);
          transform: translate3d(528px, 118px, 1856px);
  background: #ff200f;
}

.particle:nth-child(88) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  -webkit-transform: translate3d(700px, 800px, 268px);
          transform: translate3d(700px, 800px, 268px);
  background: #ff200f;
}

.particle:nth-child(89) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -17.8s;
          animation-delay: -17.8s;
  -webkit-transform: translate3d(523px, 715px, 680px);
          transform: translate3d(523px, 715px, 680px);
  background: #ff200f;
}

.particle:nth-child(90) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  -webkit-transform: translate3d(7px, 643px, 279px);
          transform: translate3d(7px, 643px, 279px);
  background: #ff200f;
}

.particle:nth-child(91) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -18.2s;
          animation-delay: -18.2s;
  -webkit-transform: translate3d(149px, 270px, 687px);
          transform: translate3d(149px, 270px, 687px);
  background: #ff200f;
}

.particle:nth-child(92) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  -webkit-transform: translate3d(250px, 894px, 8px);
          transform: translate3d(250px, 894px, 8px);
  background: #ff200f;
}

.particle:nth-child(93) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -18.6s;
          animation-delay: -18.6s;
  -webkit-transform: translate3d(145px, 158px, 1394px);
          transform: translate3d(145px, 158px, 1394px);
  background: #ff200f;
}

.particle:nth-child(94) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  -webkit-transform: translate3d(213px, 842px, 1447px);
          transform: translate3d(213px, 842px, 1447px);
  background: #ff200f;
}

.particle:nth-child(95) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  -webkit-transform: translate3d(377px, 752px, 1896px);
          transform: translate3d(377px, 752px, 1896px);
  background: #ff200f;
}

.particle:nth-child(96) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  -webkit-transform: translate3d(989px, 681px, 848px);
          transform: translate3d(989px, 681px, 848px);
  background: #ff200f;
}

.particle:nth-child(97) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -19.4s;
          animation-delay: -19.4s;
  -webkit-transform: translate3d(588px, 937px, 1836px);
          transform: translate3d(588px, 937px, 1836px);
  background: #ff200f;
}

.particle:nth-child(98) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  -webkit-transform: translate3d(868px, 263px, 1634px);
          transform: translate3d(868px, 263px, 1634px);
  background: #ff200f;
}

.particle:nth-child(99) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -19.8s;
          animation-delay: -19.8s;
  -webkit-transform: translate3d(781px, 100px, 85px);
          transform: translate3d(781px, 100px, 85px);
  background: #ff200f;
}

.particle:nth-child(100) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  -webkit-transform: translate3d(928px, 35px, 1971px);
          transform: translate3d(928px, 35px, 1971px);
  background: #ff200f;
}
}
