/********* ALL MY CSS ********/
@import url(reset.css);
@import url(master.css);

@import url(header.css);
@import url(main.css);
@import url(particles.css);
@import url(contact.css);
@import url(mediaquery.css);

/****************************/

html body {
    width: 100%;
    font-family: 'brandon-regular', sans-serif;
    letter-spacing: 1px;

}

@font-face {
    font-family: brandon-light;
    src: url(../font/brandon-light.otf);
}

@font-face {
    font-family: brandon-regular;
    src: url(../font/brandon-regular.otf);
}

@font-face {
    font-family: brandon-bold;
    src: url(../font/brandon-bold.otf);
}

.hideme
{
    opacity:0;
}

/* Boven */

#boven {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #FF210E00;
  color: #FF210E;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: 0.3s;
  transform: rotate(-90deg);
  text-decoration: none;
}

#boven:hover {
  background-color: #424242;
  color: white;
}

/*********/
